<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Alan Doe</title>
    <!-- head -->
    <% include partials/head %>
</head> 

<body>
    <!-- Fixed navbar -->
    <!-- navbar -->
    <% include partials/navbar %>

    <div class="wrapper" style="margin-top: 50px">
        <!-- profile -->
       <%-defineContent('profile')%>
       
       <%-defineContent('main')%>


    </div>
 
    <!-- footer -->
    <% include partials/footer %>
    <%-defineContent('src')%>
    
</body>
</html> 

